html{
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0;
    background-color: #efefef;
}

header{
    background-color: #876525;
    color: white;
    padding: 3rem 2rem;
}

header h1{
    font-size: 4rem;
    text-align: center;
}
/* MI FOMRA DE CENTRAR IMAGEN Y TEXTO A LA IZQUIERDA
.container{
    text-align: center;
}

h2, p{
    margin: 1rem 15rem 1rem;
    padding: 1rem 15rem;
    text-align: left;
}

img{
    position: center;
}
*/

.container{
    width: 300px;
    margin: 0 auto;
}

section article{
    transition: all 1s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0rem 0.1rem 0.4rem rgb(0, 0, 0, 0.3);
}

section article h2, section article p{
    margin: 1rem;
}

footer{
    background-color: darkblue;
    padding: 3rem;
}

footer section{
    float: right;
}

footer a{
    transition: color 1s ease;
    color: white;
}

footer section a:link{
    color: white;
}

footer section a:hover{
    color: #dab36c;
}

footer section a:active{
    color: red;
}

footer p{
    margin: 0rem;
}